# Dependencies
node_modules/
.pnpm-store/

# Environment Variables
.env

# Build Output
dist/
build/
.turbo/
build_log.txt

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Optional folders (if you had mock data or local DB storage)
pos_db_data_dev/
evidencia/

# OS Files
.DS_Store
Thumbs.db
